@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.title{
    margin: 40px 25px 200px 77px;
    font-family: 'Inconsolata', monospace;
    
}

.container{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;

}

img{
    width: 600px;
}

h2{
    font-family: 'Space Mono', monospace;
    font-size: 64px;
    width: 600px;
}