@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,700;1,800&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.title{
    margin: 40px 25px 100px 77px;
    font-family: 'Inconsolata', monospace;
    
}

.grid{
    padding: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30%;
    max-width: 100%;
}

img{
    height: 55%;
    grid-column-start: 1;   
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.flex{
    margin-left: 20%;
    grid-column-start: 3;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

h2{
    font-family: 'Space Mono', monospace;
    font-size: 64px;
    font-weight: 700;
    width: 600px;
}

p{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 24px;
    width: 65%;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

button{
    background-color: #333333;
    color: #FFFFFF;
    padding: 25px 40px 25px 40px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 14px;

}

a{
    text-decoration: none;
    font-weight: bolder;
}