@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,700;1,800&family=Montserrat:wght@700&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    margin: 40px 25px 150px 77px;
    font-family: 'Inconsolata', monospace;
    
}

.grid{

    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 3% 3% 3%;
  
    height: 20%;
}

img{
    width: 100%;
    height: auto;
    min-width: 75%;
    grid-column-start: 1;   
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left:75px;
    z-index: 9999;
}

.flex{
    margin-left: 20%;
    grid-column-start: 3;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

h2{
    font-family: 'Space Mono', monospace;
    font-size: 64px;
    font-weight: 700;
    width: 600px;
}

p{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 24px;
    width: 65%;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

button{
    background-color: #333333;
    color: #FFFFFF;
    padding: 25px 40px 25px 40px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 14px;

}

a, a:active, a:focus{
    text-decoration: none!important;
    font-weight: bolder;
}

footer{
    font-family: 'Montserrat', sans-serif;
    color: #BDBDBD;
    text-decoration: none!important;
    text-align: center;
    margin-top: 20%;
}

@media only screen and (max-width: 949px) {
    body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 75%;
    }

    .item{
        margin-top: 10%;
    }

    h1{
        text-align: left;
    }

    h2{
        font-size: 2.5rem;
        width: 100%;


    }

    p{
        font-size: 1.3rem;
        width: 130%;

    }

    footer{
        margin-bottom: 20px;
    }
  }